@import '~antd/dist/antd.css';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  font-family: 'Poppins', sans-serif;
}

/* antd */
.ant-carousel .slick-slide {
  text-align: center;
  height: 100vh;
  padding: 2rem;
  background-image: linear-gradient(to right, #43cea2, #185a9d);
  overflow: hidden;
}

.flex-column-center {
  display: flex;
  align-items: center;
justify-items: flex-start;
  flex-direction: column;
}

.flex-auto {
  flex: 1 1 auto;
}
